html, body, nav {
    height: 100%;
    width: 100%;

}

h1 {
    position: absolute;
    top: 100px;
    left: 500px;
    font-family: 'Chelsea Market', cursive;
    margin: 20px 0;
    font-size: 60px;
}

#intro {
    position: absolute;
    top: 200px;
    left: 600px;
    text-align: center;
}


#plan {
    text-align: center;
    width: 150px;
    position: absolute;
    left: 100px;
    margin: 0 10px;
    border: 1px solid lightgray;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    background: #FF764E;
}

#plan:hover {
    background: white;
    color:#FF764E;
}

#learn {
    position: absolute;
    left: 500px;
    margin: 0 10px;
    border: 1px solid lightgray;
    padding: 20px;
    display: inline-block;
    justify-content: center;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    background: #5ED3EB;
}

#learn:hover {
    background: white;
    color: #5ED3EB;
}

#get {
    position: absolute;
    right: 100px;
    margin: 0 10px;
    border: 1px solid lightgray;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    background: #FFCD69;
}

#get:hover {
    background: white;
    color: #FFCD69;
}

#main {
    position: absolute;
    top: 500px;
    background-color: #DDB9A3;
}

footer {
    background-color: #F9E7DC;
}



p {
    font-size: 16px;
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    line-height: 1.4;
    }

#headImg {
    position: absolute;
    top: 90px;
    left: 85px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    
}    

#fire {
    position: absolute;
    left: 500px;
    top: 700px;
    height: 150px;
    width: 150px;
}

#bus {
    position: absolute;
    left: 500px;
    top: 1100px;
    height: 150px;
    width: 150px;
}

#fireTalk {
    position:absolute;
    top: 850px;
    left: 425px;
    text-align: center;

}

#reservations {
    position: absolute;
    top: 1250px;
    left: 425px;
    text-align: center;
}

#footImg {
    position: absolute;
    top: 1500px;
    width: 100%;
    height: 300px;
}

#visit {
    position: absolute;
    top: 1900px;
    left: 100px;
    margin: 0 10px;
    border: 1px solid lightgray;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    background: #FF764E;
}

#visit:hover {
    background: white;
    color:#FF764E
}

#park {
    position: absolute;
    top: 1900px;
    left: 500px;
    margin: 0 10px;
    border: 1px solid lightgray;
    padding: 20px;
    display: inline-block;
    justify-content: center;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    background: #5ED3EB;
}

#park:hover {
    background: white;
    color: #5ED3EB
}

#involved {
    position: absolute;
    top: 1900px;
    right: 100px;
    margin: 0 10px;
    border: 1px solid lightgray;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    background: #FFCD69;
}

#involved:hover {
    background: white;
    color: #FFCD69;
}